body {
    background-color: #fff;
    font-family: Calibri, 'Trebuchet MS', sans-serif
}

.widget {
    width: 380px;
    height: 600px;
    margin: 5% auto;
    border: 1px solid #e6e6e6;
    border-radius: 20px 0 0 0; 
}

.logo_header {
    background-color: #33ccff;
    height: 60px;
    text-align: center;
    border-bottom: solid 20px #3399ff;
    border-radius: 18px 0 0 0;
}

.logo_header img {
    z-index: 99999;
}

.container {
    margin: 10% 6% 10% 6%;
}

.contact_form,
.full_name,
.mobile_phone_number,
.state,
.question {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.contact_form {
    margin: -15px 0px;
}

.contact_form span {
    padding: 2px;
}

.contact_form div{
    margin: .5em 0 .5em 0;
}

.contact_form input {
    border-radius: 4px;
    border: 1px solid #e6e6e6
}

.contact_form input {
    height: 30px;
}

.full_name input {
    background: url(./assets/name_icon.png) left no-repeat;
    background-position-x: 10px;
    padding-left: 3em;
}

.mobile_phone_number input {
    background: url(./assets/phone_icon.png) left no-repeat;
    background-position-x: 10px;
    padding-left: 3em;
    
}

.state select {
    background-color: #fff;
}

.question textarea {
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    resize: none;
}

#submit {
    text-shadow: 1px 1px black;
    font-weight: bold;
    color: #fff;
    border-radius: 4px;
    margin-top: 25px;
    width: 50%;
    align-self: flex-end;
    height: 40px;
    background-color: #33ccff;
    border-color: #33ccff;
    background: -webkit-linear-gradient(#33ccff,#3399ff);
    background: -o-linear-gradient(#33ccff,#3399ff);
    background: -moz-linear-gradient(#33ccff,#3399ff);
    background: linear-gradient(#33ccff,#3399ff);
}